
.container {
    width: 1337px;
    max-width: 1337px;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#svg-container {
    position: fixed;
    height: 1337px;
    width: 1080px;

}

